.Section_Principal{
    /* height: 24vh;
    margin: 64px 32px; */
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: cornflowerblue;

    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.Section_Principal .p_Frase {
    background-color: red;
    grid-column: 1/3;
}

.Section_Principal .p_Autor {
    background-color: green;
}
.Section_Principal .btn_Get {
 background-color: aqua;
}

.Section_Principal .btn_Tweet {
    background-color: violet;
}