.Section_Principal{
    margin: 32px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: cornflowerblue;

    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.Section_Principal .p_Frase {
    background-color: lightseagreen;
    margin: 12px;
    padding: 24px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 8px;

    grid-column: 1/3;
}

.Section_Principal .p_Autor {
    background-color: lightslategray;
    margin: 12px;
    padding: 24px;
    font-size: 20px;
    border-radius: 8px;

    grid-row: 2/3;
    grid-column: 1/3;
}

.Section_Principal button {
    border: none;
    border-radius: 8px;
    margin: 16px;
    padding: 16px 8px;
    font-size: 20px;
    font-weight: 600;
}

.Section_Principal .btn_Get {
    background-color: honeydew;

}

.Section_Principal .btn_Tweet {
    background-color: coral;

}